node_modules/*
package-lock.json
graphql/node_modules/*
graphql/package-lock.json
graphql/.env
.vscode/*
.env
telecore/s*
mongodb_aws/node_modules/*
mongodb_aws/package-lock.json
mongodb_aws/.env
extrasnippets/graphql/package-lock.json